@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-container-size: 24px;
    --font-container-size-mobile: 16px;
    --font-form-size: 18px;
    --font-form-size-mobile: 14px;
    --font-content-title-size: 16px;
    --font-content-size: 12px;
    --font-content-title-size-mobile: 12px;
    --font-content-size-mobile: 8px;
    --font-size-toast: 18px;
    --font-size-toast-mobile: 10px;
    --background-primary-color: whitesmoke;
    --background-secondary-color: rgb(0, 204, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background-primary-color);
    max-width: 80%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px dashed grey;
    min-height: 100vh;
}

.note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 1rem 0;
    padding: 2rem 0;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #cdcccc;
    background-color: #faf9f9;
}

.note-container > h1 {
    font-size: var(--font-container-size);
}

.note-container-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 1rem 0;
    padding: 2rem 0;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #cdcccc;
    background-color: #faf9f9;
}

.note-container-detail > h1 {
    font-size: var(--font-container-size);
}

.note-container-detail > p {
    font-size: var(--font-container-size-mobile);
    padding: 0px 24px;
}

.note-container > div > button {
    align-self: end;
    min-width: 15%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 204, 255);
}

.note-container > div > button:hover {
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 50%;
}

.form-group-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    min-width: 50%;
    margin-top: 12px;
}

.form-group-row > a {
    font-size: var(--font-form-size-mobile);
    color: black;
    text-decoration: none;
}

.form-group > label {
    font-size: var(--font-form-size);
}

.form-group > input, .form-group > select, .form-group > textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group > textarea {
    resize: none;
}

.form-group > p {
    font-size: 12px;
    align-self: end;
}

.note-item-group {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin: 4rem 2rem;
    gap: 2rem;
}

.note-item-group-single {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 4rem 2rem;
    gap: 2rem;
}

.note-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    min-width: 50%;
}

.note-item a {
    color: black;
    text-decoration: none;
}

.note-item > h1 {
    font-size: var(--font-container-size);
}

.note-item-single {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.note-item-single a {
    color: black;
    text-decoration: none;
}

.note-item-single > h1 {
    font-size: var(--font-container-size);
}

.note-list {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #cdcccc;
    background-color: #faf9f9;
    min-height: 12vh;
}
    
.note-list > h1 {
    font-size: var(--font-content-title-size);
}

.note-list > p {
    font-size: var(--font-content-size);
}

.note-list-group {
    margin: 8px 0;
    display: flex;
    justify-content: end;
    gap: 4px;
}

.note-list-group > button {
    border-radius: 5px;
    padding: 0.1px;
}

.note-list-group > button:hover {
    cursor: pointer;
    background-color: var(--background-secondary-color);
}

.note-list-group > .delete:hover {
    cursor: pointer;
    background-color: red;
}

.navbar {
    background-color: var(--background-secondary-color);
    border-radius: 5px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar > h1 {
    font-size: var(--font-container-size);
}

.navbar > ul {
    display: flex;
    gap: 12px;
    align-items: center;
}

.navbar > ul > li {
    list-style: none;
    font-size: var(--font-content-title-size);
}

.navbar > ul > li > a {
    color: black;
    text-decoration: none;
}

.navbar > ul > li > a:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 124px;
    box-shadow: 5px 5px 10px #cdcccc;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content > a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 4px 0;
}

.dropdown-content > button {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 4px 0;
}

.dropdown-content > a:hover, .dropdown-content > button:hover {
    color: black;
    text-decoration: none;
    background-color: #e4e2e2;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-title {
    display: flex;
    align-items: center;
}

.logout {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-content-title-size);
}


#toast {
    visibility: hidden;
    /* background-color: #265073; */
    /* color: #fff; */
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 2.5%;
    bottom: 30px;
    font-size: var(--font-size-toast);
}
  
#toast.show-toast {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media only screen and (max-width: 768px){

    body {
        max-width: 100%;
    }

    .note-container > h1 {
        font-size: var(--font-container-size-mobile);
    }

    .note-container > p {
        font-size: var(--font-content-size);
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-width: 90%;
    }
    
    .form-group > label {
        font-size: var(--font-form-size-mobile);
    }

    .form-group > button {
        min-width: 25%;        
    }

    .form-group-row {
        gap: 8px;
        flex-direction: column-reverse;
    }

    .form-group-row > a {
        font-size: var(--font-form-size-mobile);
    }

    .form-group-row > button {
        width: 100%;        
    }

    .note-list {
        max-width: 100%;
    }

    .note-list > h1 {
        font-size: var(--font-content-title-size-mobile);
    }
    
    .note-list > p {
        font-size: var(--font-content-size-mobile);
    }    

    .note-item > h1 {
        font-size: var(--font-container-size-mobile);
    }

    .note-item-single > h1 {
        font-size: var(--font-container-size-mobile);
    }

    .note-item-group {
        flex-direction: column;
    }

    .note-item {
        min-width: 100%;
    }    

    .note-item-single {
        min-width: 100%;
    }    

    #toast {
        font-size: var(--font-size-toast-mobile);
    }

    .navbar > h1 {
        font-size: var(--font-container-size-mobile);
    }
    
    .navbar > ul > li {
        list-style: none;
        font-size: var(--font-content-size);
    }    

    .logout {
        font-size: var(--font-content-size);
    }

    .note-container-detail > h1 {
        font-size: var(--font-content-title-size);
    }
    
    .note-container-detail > p {
        font-size: var(--font-content-size);
        padding: 0px 24px;
    }    

    .dropdown-content {
        left: -90%;
    }
}