@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-primary: #2D9596;
    --bg-secondary: #9AD0C2;
    --bg-form: #F8F9FA;
    --font-size-mobile: 12px;
    --font-size-non-mobile: 24px;
}

*, html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 1rem;
    background-color: var(--bg-primary);
}

header > h1 {
    font-size: var(--font-size-non-mobile);    
    font-weight: 650;
}

.container-base {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    gap: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 24px;
    width: 50%;
    background-color: var(--bg-form);
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.container > h1 {
    text-align: center;
    font-weight: 600;
}

.container > h2 {
    font-size: var(--font-size-non-mobile);    
    font-weight: 600;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 8px 0;
}

.form-group > label {
    font-size: var(--font-size-non-mobile);
}

.form-group > input {
    width: 100%;    
    padding: 16px;
    border-radius: 5px;
    height: 2.5rem;
    border: 1px solid grey;
}

.container > button {
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid var(--bg-secondary);
    padding: 8px;
    border-radius: 5px;
    width: 10%;
    align-self: end;    
}

.container > button:hover {
    background-color: var(--bg-secondary);
    cursor: pointer;
}

/* only mobile screen */
@media only screen and (max-width: 768px){
 
    .container > h1 {
        font-size: var(--font-size-mobile);
    }

    .form-group > label {
        font-size: var(--font-size-mobile);
    }

    .container {
        width: 80%;
    }

    .container > h2 {
        font-size: var(--font-size-mobile);    
    }

    .container > button {
        width: 25%;
        font-size: var(--font-size-mobile);
    }
}