@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-primary: #2D9596;
    --bg-secondary: #9AD0C2;
    --bg-form: #F8F9FA;
    --font-size-mobile: 12px;
    --font-size: 24px;
    --font-size-item-title: 18px;
    --font-size-item-date: 12px;
    --font-size-item-title-mobile: 12px;
    --font-size-item-date-mobile: 8px;
}

*, html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 1rem;
    background-color: var(--bg-primary);
}

header > h1 {
    font-size: 24px;    
    font-weight: 650;
}

.container-base {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    gap: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 24px;
    width: 50%;
    background-color: var(--bg-form);
    box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
}

.container > h1 {
    text-align: center;
    font-weight: 600;
}

.container > h2 {
    font-size: var(--font-size);    
    font-weight: 600;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 8px 0;
}

.form-group > label {
    font-size: var(--font-size);
}

.form-group > input {
    width: 100%;    
    padding: 16px;
    border-radius: 5px;
    height: 2.5rem;
    border: 1px solid grey;
}

.container > button {
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid var(--bg-secondary);
    padding: 8px;
    border-radius: 5px;
    width: 10%;
    align-self: end;
    font-size: 12px;    
}

.container > button:hover {
    background-color: var(--bg-secondary);
    cursor: pointer;
}

.item {
    border-radius: 16px;
    margin-top: 16px;
    padding: 12px 24px 12px 24px;
    background: white;
    display: flex;
    align-items: center;
}

.item > .inner h2 {
    font-size: var(--font-size-item-title);
    margin-bottom: unset;
}

.item > .inner p {
    font-size: var(--font-size-item-date);
    margin-top: 5px;
}

.check-button {
    color: black;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    color: green;
}

.trash-button {
    color: black;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    color: red;
}

.undo-button {
    color: black;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    color: blue;
}

.check-button:focus, .trash-button {
    outline: none;
}

#toast {
    visibility: hidden;
    background-color: #265073;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 2.5%;
    bottom: 30px;
    font-size: var(--font-size);
}
  
#toast.show-toast {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* only mobile screen */
@media only screen and (max-width: 768px){
 
    .container > h1 {
        font-size: var(--font-size-mobile);
    }

    .form-group > label {
        font-size: var(--font-size-mobile);
    }

    .container {
        width: 80%;
    }

    .container > h2 {
        font-size: var(--font-size-mobile);    
    }

    .container > button {
        width: 25%;
        font-size: 10px;
    }

    .item > .inner h2 {
        font-size: var(--font-size-item-title-mobile);
        margin-bottom: unset;
    }
    
    .item > .inner p {
        font-size: var(--font-size-item-date-mobile);
        margin-top: 5px;
    }    

    #toast {
        font-size: var(--font-size-mobile);
    }

    header > h1 {
        font-size: 18px;
    }
}